<div class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="50" flex-xs="100" layout="column" ng-repeat="item in vm.trainnings">
        <md-card class="trainning-card">
            <md-card-header>
                <md-card-avatar ng-repeat="member in item.members| limitTo: 4 track by member.id">
                    <img src="{{member.image}}" class="profile-trainnning-thumb" alt="">
                    <md-tooltip>{{member.name}}</md-tooltip>
                </md-card-avatar>
                <h5 class="info-message" ng-if="item.members <= 0"><md-icon md-svg-icon="emoticon-sad"></md-icon><span>Nenhum aluno com esse treino.</span></h5>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="{{list.menu.name}}" ng-click="$mdOpenMenu($event)">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="vm.fixOnDash('membersList')">
                                <div layout="row">
                                    <p flex>Visualizar</p>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">info</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.fixOnDash('membersList')">
                                <div layout="row">
                                    <p flex>Enviar por email</p>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">email</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.fixOnDash('membersList')">
                                <div layout="row">
                                    <p flex>Excluir</p>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;">delete</md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-header>
            <img ng-src="{{item.imageBg}}" class="md-card-image" alt="Washed Out">
            <div class="info">
                <b>{{item.name}}</b> - <span>{{item.description}}</span>
            </div>
        </md-card>
    </div>
</div>
<md-button class="md-fab fab-fixed md-primary" ng-click="vm.navigateTo('trainnings/new')">
    <md-icon>add</md-icon>
</md-button>