<div class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="50" flex-xs="100" layout="column">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </md-card-header>
            <img ng-src="assets/images/fit_web_headers_v1_strength.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Treino A</span>

                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
            </md-card-actions>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </md-card-header>
            <img ng-src="assets/images/fit_web_headers_v1_walk_a.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Treino B</span>

                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
            </md-card-actions>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div flex="50" flex-xs="100" layout="column">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-card-avatar>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </md-card-header>
            <img ng-src="assets/images/fit_web_headers_v1_body.png" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Treino C</span>

                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
            </md-card-actions>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>