<style>
    md-input-container .md-errors-spacer {
        display: none;
    }
    
    .filter {
        margin-top: 15px;
    }
</style>

<div flex>
    <md-card>
        <md-toolbar class="md-accent" layout layout-align="end center">
            <div class="md-toolbar-tools" style="width: 75%;" class="md-primary">
                <span ng-show="!showFilter">
                Lista de alunos
             </span>
                <div ng-show="showFilter" class="filter">
                    <form>
                        <md-input-container class="no-margin md-block" md-no-float>
                            <md-icon>search</md-icon>
                            <input ng-model="filter" type="text">
                        </md-input-container>
                    </form>
                </div>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="showFilter = !showFilter">
                <md-tooltip md-direction="left">Filtro</md-tooltip>
                <md-icon>filter_list</md-icon>
            </md-button>
            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="{{list.menu.name}}" ng-click="$mdOpenMenu($event)">
                    <md-icon>settings</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="vm.fixOnDash('membersList')">
                            <div layout="row">
                                <p flex>Travar no Painel</p>
                                <md-icon md-menu-align-target style="margin: auto 3px auto 0;">add</md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button">
                <md-icon>help</md-icon>
            </md-button>
        </md-toolbar>
        <md-content class="auto-content">
            <md-list-item class="md-2-line" ng-repeat="item in vm.exercises | filter: filter" ng-click="vm.navigateTo('exercises/edit/' + item.id)">
                <md-icon ng-if="!item.advanced">{{item.aerobic ? "directions_run" : "fitness_center"}}</md-icon>
                <md-icon ng-if="item.advanced">star</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3 class="md-body-2"><b>{{item.name}}</b></h3>
                    <p class="md-caption"><b>Categoria: </b>{{item.category}}</p>
                </div>
                <span flex></span>
                <md-icon aria-label="Show Item">chevron_right</md-icon>
            </md-list-item>
        </md-content>
    </md-card>
</div>
<md-button class="md-fab fab-fixed md-primary" ng-click="vm.navigateTo('exercises/new')">
    <md-icon>add</md-icon>
</md-button>