.inner-body{
	background-color: #EEEEEE;
}

.logo{
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
}

.logo img {
    height: 3.5em;
    width: auto;
    display: block;
    transform-origin: 50% 0;
    transform: scale(1.2);
}

.profile-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 70px;
    margin-right: 10px;
    background-size: cover;
    border-radius: 15%;
    border: 2px solid;
}

.profile-container-thumb {
    width: 45px;
    height: 45px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    border: 0.1em solid;

}

.white{
    background-color: #fff;
}

.no-padding {
    padding: 0px;
    margin-bottom: -4px;
}

.no-margin {
    margin: 0;
}
.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 20px;
}

.md-tall-custom {
    height: 8em;
    min-height: 128px;
    max-height: 8em;
}

.md-caption-primary{
    font-size: 15px;
}

.fit_1 {
    background-image: url("/assets/images/fit_1.jpg");
    background-size: cover;
    -webkit-transition: all 1s linear;
}

.fit_2 {
    background-image: url("/assets/images/fit_2.jpg");
    background-size: cover;
}

.fit_3 {
    background-image: url("/assets/images/fit_3.jpg");
    background-size: cover;
}

.figcaption-a {
    text-decoration: none;
    color: white !important;
}

md-grid-list md-grid-tile md-grid-tile-header, md-grid-list md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.48);
}

/*.fit_1:hover, .fit_2:hover, .fit_3:hover{ 
   -webkit-filter: blur(0.8px);
   
}
.fit_1 p a md-icon, .fit_2 p aZ md-icon, .fit_3 p a md-icon {
    font-size: 45px;
    color: #fff;
    z-index: 999;
}

.fit_1 p, .fit_2 p, .fit_3 p {
     display: none;
     color: #fff; 
     font-size: 25px;
}*/
/*.fit_1:hover p, .fit_2:hover p, .fit_3:hover { 
display: block;
   
}*/

.fade.ng-enter {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*.ng-hide-add {
    animation:1s hide;
}*/

#section1 {
    margin-top: 10px;
}

.step > md-content > .circle .ng-hide-add {
    animation: 0.2s hide;
}

@keyframes hide {
  0% {
    opacity:1;
  }
  100% { 
    opacity:0;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
  }
  100% { 
    opacity:0;
  }
}

/*.ng-hide-remove {
    animation:1s show;
}*/

@keyframes show {
  0% {
    opacity:0;
  }
  100% { 
    opacity:1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
  }
  100% { 
    opacity:1;
  }
}

.step{
    padding: 15px;
}

.step > md-content:focus {
    outline: 0;
}

.step > md-content > .circle{
    width: 35px;
    height: 35px;
    background-color: #BDBDBD;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    line-height: 35px;
    text-align: center;
    float:left;
}

.step > md-content > .circle.active{
    background-color: #2B2E4A;
}

.step-title {
    line-height: 40px;
    margin-left: 10px;
   color: #bdbdbd;
}
.step-title.active {
    color: black;
   font-weight: bold;
}
.step-subtitle {
    color: #bdbdbd;
    display: block;
    margin-left: 48px;
    font-size: 0.85em;
    margin-top: -5px;
}

 .line {
    border-left: 1px solid #BDBDBD;
}

.step-content {
    height: 15px;
}

.step-content.active {
    height: auto;
}



.step > md-content {
    cursor: pointer;
}

.md-contact-chips .md-chips .md-chip .md-contact-avatar img {
    height: 32px;
    border-radius: 16px;
    width: auto;
}

  .chipsdemoContactChips div div input {
    min-width: 400px; }
    
    .step-warning {
        color: rgb(255,82,82);
        margin-left: 0.1em;
        font-size: 1.8em;
        margin-top: -10px;
    }
    
    .fab-fixed {
        position: fixed;
        right: 23px;
        bottom: 23px;
        margin-bottom: 0;
        z-index: 998;
    }

h1.title {
        color: #999;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee;
}

.exerciseNav {
    position: inherit;
}

.editExerciseForm{
    background-color: #eee;
    padding: 0 20px 20px 20px;
}

.editExerciseForm > md-divider{
    margin-top: -15px;
    margin-bottom: 20px;
}

.md-fab.md-fab-bottom-right {
    transition-property: transform, background-color, box-shadow;
}
.md-fab.md-fab-bottom-right.hide2 {
    transform: translateY(200%);
}

.grow, .grow-small {
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.2); 
}

.grow-small:hover{
    transform: scale(1.1); 
}

.advanced-container{
    background-color: #f5f5f5;
    padding:10px;  
}

.holder {
    cursor: pointer;
}

 #btn-add-exercise {
    margin-top: -175px;
}

.m-t-m-40 {
    margin-top: -40px;
}

@media only screen and (max-width:768px) {
.auto-content {
    max-height: 370px;
}

}

.auto-content{
    max-height: 470px;
}

.info-message > md-icon {
    margin-top: -7px;
}

.info-message > span {
    margin-left: 10px; color: rgba(0,0,0,0.54);
}