<div layout="row">
    <div flex>
        <md-card>
            <md-toolbar class="md-accent md-tall">
                <div class="md-toolbar-tools" flex>
                    <div class="profile-container" style="background-image: url('/assets/images/fit_1.jpg');"> </div>
                    <div layout="column" class="m-t-20">
                        <h2> Gabriel Malinosqui </h2>
                        <span class="md-caption-primary">4340 pontos</span>
                    </div>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.showMessageDialog($event)">
                        <md-tooltip md-direction="bottom">
                            Cadastrar treino
                        </md-tooltip>
                        <md-icon> fitness_center </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.showMessageDialog($event)">
                        <md-tooltip md-direction="bottom">
                            Nova avaliação física
                        </md-tooltip>
                        <md-icon> accessibility </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.showMessageDialog($event)">
                        <md-tooltip md-direction="bottom">
                            Agenda de treinos
                        </md-tooltip>
                        <md-icon> today </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vm.showMessageDialog($event)">
                        <md-tooltip md-direction="bottom">
                            Enviar mensagem
                        </md-tooltip>
                        <md-icon> message </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="icon = 'favorite'">
                        <md-tooltip md-direction="bottom">
                            Favoritar
                        </md-tooltip>
                        <md-icon>{{icon || 'favorite_border'}}</md-icon>
                    </md-button>

                </div>
            </md-toolbar>
            <md-tabs md-dynamic-height md-border-bottom class="md-accent">
                <md-tab label="Informações">
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item>
                                <md-icon>person</md-icon>
                                <p>Gabriel Malinosqui</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon>today</md-icon>
                                <p>20 anos</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon>face</md-icon>
                                <p>Masculino</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon>accessibility</md-icon>
                                <p>1,72cm</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon>restaurant_menu</md-icon>
                                <p>65kg</p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                 <md-tab label="Treinos">
                </md-tab>
                <md-tab label="Histórico de treinos">
                    <md-content style="height: 340px;">
                        <section ng-repeat="execution in vm.weeks track by execution.id">
                            <md-subheader class="md-accent">
                                <md-icon class="md-accent">today</md-icon> {{execution.week}}</md-subheader>
                            <md-list layout-padding>
                                <md-list-item class="md-3-line" ng-repeat="t in execution.trainnings track by $index" ng-click="toast()">
                                    <img ng-src="assets/images/trainning_thumb2.jpg" class="md-avatar" alt="Treino">
                                    <div class="md-list-item-text">
                                        <h3>{{t.day}} - {{t.name}}</h3>
                                        <h4>{{t.description}}</h4>
                                        <p>
                                            Comentários: {{t.comments}}
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </section>
                    </md-content>
                </md-tab>
                <md-tab label="Avaliações físicas">
                    <md-content style="height: 300px;" class="md-padding">
                        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px"
                        md-gutter-gt-sm="4px">

                            <md-grid-tile ng-repeat="avaliation in vm.avaliations" md-rowspan="{{avaliation.span.row}}" md-colspan="{{avaliation.span.col}}"
                            md-colspan-sm="1" ng-class="avaliation.background" ng-click="vm.foo()">
                                <md-grid-tile-footer>
                                    <h3> <a ng-href="#/members/avaliations/{{avaliation.id}}" class="figcaption-a">{{avaliation.title}}</a></h3></md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
            </md-tabs>
            <!--<md-fab-toolbar md-direction="left">
                <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                        <md-button aria-label="fisic">
                            Avaliação física
                        </md-button>
                        <md-button aria-label="train">
                            Treino
                        </md-button>
                        <md-button aria-label="agenda">
                            Agenda
                        </md-button>
                    </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>-->
        </md-card>

    </div>
</div>