<md-list class="md-whiteframe-1dp white">
    <div class="md-actions" layout layout-align="end center">
        <md-subheader class="md-no-sticky">
            <span ng-show="!showFilter">
                Lista de alunos
             </span>
            <div ng-show="showFilter">
                <md-input-container class="no-margin">
                    <md-icon>search</md-icon>
                    <input ng-model="filter" type="text">
                </md-input-container>
            </div>
        </md-subheader>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="showFilter = !showFilter">
            <md-icon>filter_list</md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="{{list.menu.name}}" ng-click="$mdOpenMenu($event)">
                <md-icon>settings</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="vm.fixOnDash('membersList')">
                        <div layout="row">
                            <p flex>Travar no Painel</p>
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">add</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <md-divider></md-divider>
    <md-list-item class="md-2-line" ng-repeat="item in vm.members | filter: filter" ng-click="vm.navigateTo('members/' + item.id)">
        <div class="md-list-item-text" layout="column">
            <h3 class="md-body-2">{{item.name}}</h3>
            <p class="md-caption">{{item.age}} anos</p>
        </div>
        <span flex></span>
        <md-icon aria-label="Show Item">chevron_right</md-icon>
    </md-list-item>
</md-list>