<md-dialog aria-label="Exercício" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2> {{exercise.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-height:810px;">
            <div class="md-dialog-content">
                <form name="exerciseForm">
                    <div layout="row">
                        <md-input-container flex>
                            <label>Nome</label>
                            <input type="text" disabled ng-model="exercise.name">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Séries</label>
                            <input type="number" ng-model="exercise.series" ng-disabled="!allowEdit">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Repetições/Tempo(mins)</label>
                            <input type="text" ng-model="exercise.replays" ng-disabled="!allowEdit">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Carga(kg)</label>
                            <input type="number" ng-model="exercise.weigth" ng-disabled="!allowEdit">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Intervalo das repetições(segs)</label>
                            <input type="number" ng-model="exercise.interval" ng-disabled="!allowEdit">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container flex>
                            <label>Observação</label>
                            <textarea ng-model="exercise.obs" columns="1" md-maxlength="150" rows="6" ng-disabled="!allowEdit"></textarea>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" ng-if="allowEdit">
            <span flex></span>
            <md-button ng-click="closeDialog()" class="md-accent">
                Cancelar
            </md-button>
            <md-button ng-click="answer('send')" ng-disable="messageForm.$invalid">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>