<md-dialog aria-label="Enviar mensagem" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enviar mensagem</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="messageForm">
                    <md-input-container flex="100">
                        <label>Mensagem</label>
                        <textarea ng-model="user.biography" columns="1" md-maxlength="250" rows="5"></textarea>
                    </md-input-container>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not-send')">
                Cancelar
            </md-button>
            <md-button ng-click="answer('send')" style="margin-right:20px;" ng-disable="messageForm.$invalid">
                Enviar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>